@import "~/src/scss/index";

.alert-container {
    justify-content: center;
    margin: 1.5rem;

    &__title {
        text-align:center;
        font-size: 40px;
        margin: 1.5rem;
    }

    .ui.button{
        font-size: 15px;
        background-color: $button-color;
        color: $font-light;
        margin: 1rem;
    }

    .icon-calendar {
        font-size: 20px;
    }

    .date {
        margin: 1.5rem;
        align-items: center;
        justify-content: right;
        display: flex;
    }

    .react-datepicker__input-container input {
        color: $font-light;
        background-color: $primary-color-hover;
        border-radius: 4px;
        padding: 10px 10px;
        border: 0;
    }

    .react-datepicker {
        font-size: 15px !important;
        color: $font-light !important;
        background-color: $primary-color-hover;
        font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
      
        &__header {
          background-color: $primary-color-hover !important;
          padding-top: 5px !important;
        }

        &__current-month {
            color: $font-light;
            font-size: 14px;
        }
      
        &__day-name {
          color: $font-grey !important;
        }
      
        &__day {
          color: $font-light !important;

          &:hover {
            border-radius: 4px;
            background-color: $primary-color;
          }
      
          &--keyboard-selected,
          &--selected {
            border-radius: 25px !important;
            background: $danger2 !important;
            color: $font-light !important;
          }
          &--disabled {
            color: $font-grey !important;
          }
        }
      }
}