$primary-color: #111827;
$primary-color-hover: #374151;

$font-light: #FFFFFF;
$font-grey: #b2b2b2;
$font-dark: #000000;

$border-primary: #282828;

$background-primary: #202020;

$danger1: #ddc421;
$danger2: #DE7176;

$link: #0EA5E9;
