@import "~/src/scss/index";

.label {
    background-color: $font-grey !important;
    margin-bottom: 0.5rem !important;
    color: $font-dark !important;
}

.camera-container {

    .header{
        background-color: $primary-color-hover;
    }

    .modal-button{
        color: $primary-color-hover !important;
    }

    .ui.form {
        .field {
            .button {
                margin-bottom: 10px !important;
                border-radius: 10px !important;
                padding: 13px 0 !important;
                font-size: 15px !important;
                background-color: $primary-color-hover !important;
                color: $font-light !important;
                width: 20% !important;
            }
        }
    }
  
    .form_content {
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;
        margin-left: 0.5rem;
    }
    .ui.selection.dropdown {
        background-color: $primary-color-hover;
        border-color: $primary-color-hover !important;
        width: 20% !important;

        .text{
            color: $font-light !important;
        }

        .item{
            background-color: $primary-color-hover;
        }

        i {
            color: $font-light !important;
        }

        &.active {
            .item{
                background-color: $primary-color-hover;
            }

            :hover,
            .menu,
            :focus{
                background-color: $primary-color-hover !important;
                border-color: $font-light !important;
            }
        }
        
    }

    .info {
        font-size: 17px;
    }

    .icon {
        margin-right: 0.5rem;
        font-size: 15px;
    }

    .cam-update {
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;
        margin-left: 0.5rem;
    }

    .form-update-worker {
        text-align: right;

    }

    .ui.form {
        .field {        
            .button {
                margin-bottom: 10px !important;
                border-radius: 10px !important;
                padding: 13px 0 !important;
                font-size: 15px !important;
                background-color: $primary-color-hover !important;
                color: $font-light !important;
                width: 20% !important;
            }
        }
    }

    
}
